version: "3"
services: 
    web:
        build:
            context: .
            dockerfile: Doc
        ports: 
            - "3000:3000"
        volumes: 
            - /app/node_modules
            - .:/app
